#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  
  #blog .contenedor img{
    width: 100%; 
    height: auto;
    padding-left: 0%;
  }
  
  #blog article {
    margin: 5px;
  }
  #blog .contenedor h2, h3{
    float: left;
  }
  h2, h4 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  #blog img {
    width: 100%;
    max-width: 280px;
    padding-left: 25%;
    border-radius: 5ch;
  }
  #blog article img.selected {
    transform: scale(1.2);
}
footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
     background-color: #72bbda;
     align-items: center
  }
 
  footer .icons {
    margin-top: 20px;
     align-items: center;
         
  }

  .icon_ancla{
    margin-left: 3rem;
  }

  .footer_link {
    margin-top: 1rem;
    text-align: center;
}

@media screen and (min-width:1024px){
    section {
        scroll-margin-top: 80px; 
      }
    }