        /* Estilos para el footer */
        footer {
            background-color: #f4f3f6;
            color: white;
            text-align: center;
            padding: 100px 0;
        }

        .footer-left {
            float: left;
        }

        .footer-right {
            float: right;
        }

        .footer-links {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .footer-links li {
            text-decoration: none;
            display: inline;
            margin-right: 20px;
        }

        .footer-links .fa {
            color: white;
            text-decoration: none;
            font-size: 18px;
            margin-right: 10px;
        }

        .footer-links .fa:hover {
            position: relative;
        }

        .footer-links .fa:hover::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px; /* Tamaño del círculo */
            height: 30px; /* Tamaño del círculo */
            background-color: #0077ff; /* Color del círculo */
            border-radius: 50%; /* Hace que el círculo sea redondeado */
        }